<!DOCTYPE html>
<html>
    <div class="header">
        <h1 align="center">Graphical User Interface for Performance Metrics</h1>
    </div>

    <head>
    <style>
                
    * {
        box-sizing: border-box;
      }

      /* Create three equal columns that floats next to each other */
      .column 
      {
        float: left;
        width: 20.00%;
        padding: 10px;
        height: 100px; /* Should be removed. Only for demonstration */
      }

      /* Clear floats after the columns */
      .row:after 
      {
        content: "";
        display: table;
        clear: both;
      }
      </style>
      </head>

      <body style="background-color:rgb(207, 120, 20);">

        <div class="row">
          <div class="column" style="background-color:rgb(207, 120, 20);">
            <p align = "center">Connect</p>
          </div>
          <div class="column" style="background-color:rgb(207, 120, 20);">
            <h2></h2>
          </div>
          <div class="column" style="background-color:rgb(207, 120, 20);">
            <h2></h2>
          </div>
          <div class="column" style="background-color:rgb(207, 120, 20);">
            <h2></h2>
          </div>
          <div class="column" style="background-color:rgb(207, 120, 20);">
            <p align = "center">Connected</p>
          </div>
        </div>

      <br/>

      <div class="row">
        <div class="column" style="background-color:rgb(45, 198, 209);">
          <h2>Beta</h2>
        </div>
        <div class="column" style="background-color:rgb(201, 183, 104);">
          <h2>Alpha</h2>
        </div>
        <div class="column" style="background-color:rgb(90, 168, 93);">
          <h2>Theta</h2>
        </div>
        <div class="column" style="background-color:rgb(131, 130, 108);">
          <h2>Engagement</h2>
        </div>
        <div class="column" style="background-color:rgb(77, 143, 206);">
          <h2>Fatigue</h2>
        </div>
      </div>

      </body>
</html>

